<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/index.css" />
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1><%=title %></h1>
        <p><%= title %> sayfasına hoş geldiniz.</p>
        <%= userList[0].name %>
    </body>
</html>